<div class="file-uploader dropzone">
	<h2>Screenshots</h2>
	<p class="voice voice--discreete">Drag a screenshot anywhere or use this button.</p>
	<form enctype="multipart/form-data" method="post" action="/upload">
    <span class="btn btn-success fileinput-button button-secondary pure-button" id="js-upload-screenshot-button">
        <i class="fa fa-camera-retro" aria-hidden="true"></i>
        <span>Add files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input class="js-fileupload" type="file" name="files[]"  data-sequential-uploads="true" data-issues_id="{{ @SESSION.issue.id }}" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
	</form>
</div>