
<form class="pure-form pure-form-stacked" method="post" action="/authenticate">
    <fieldset>
        <legend>{{ @welcome }}</legend>
		<check if="{{ @message !='' }}">
			<p class="error">{{ @message }}</p>
		</check>
        <label for="username">{{ @username }}</label>
        <input id="username" name="username" type="text" placeholder="{{ @your_username }}">

        <label for="password">{{ @password }}</label>
        <input id="password" name="password" type="password" placeholder="{{ @your_password }}">

        <label for="remember" class="pure-checkbox">
            <input id="remember" name="remember" type="checkbox"> {{ @remember_me }}
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>