<include href="header.htm" />

<body>

<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <header class="pure-g application-branding-zone">
			<div class="pure-u-1">
				<a href="/">
				<img src="/app/assets/images/logo/bugs-logo.svg" alt="{{ @application_name }}" title="{{ @application_name.': '.@application_slogan }}">
				<h1>{{ @application_name }}</h1>
				<h2>{{ @application_slogan }}</h2>
				</a>
			</div>
		</header>
		<include if="{{ @SESSION.logged_in == 'ok' }}" href="sidebar.loggedin.htm" />    
    </div>
	
	<div id="list" class="pure-u-1">

		<include if="{{ @SESSION.logged_in == 'ok' && @SESSION.project.id !='' }}" href="project.issuelist.htm" />    
	</div>
	<div id="main" class="pure-u-1">
		<include href="{{ @content }}" />
	</div>
</div>

<check if="{{ @GOLIVE == false }}">
<script src="//localhost:35729/livereload.js"></script>
</check>
<include href="footer.htm" />
