<h1>{{ @SESSION.project.title }}</h1>
<h2>Active tickets</h2>
<check if="{{ count(@SESSION.project.issues)>0 }}">
<true>
<repeat group="{{ @SESSION.project.issues }}" value="{{ @issue }}">
<a href="/project/{{ @issue.project_id }}/issue/{{ @issue.id }}">
	<div class="ticket-item {{ @PARAMS.issue_id == @issue.id ? 'ticket-item-selected': '' }} pure-g">
		<div class="pure-u">
			<img class="ticket-avatar" alt="User&#x27;s avatar" height="64" width="64" src="{{ @issue.creator_picture }}">
		</div>
		
		<div class="pure-u-3-4">
			<h5 class="ticket-name">{{ @issue.creator_display_name }}</h5>
			<h4 class="ticket-subject">{{ @issue.title  }}</h4>
			<p class="ticket-desc">
				{{ truncate( @issue.description )  }}
			</p>
			<small class="ticket-assigned_to"><i class="fa fa-arrow-right"></i> {{ @issue.assigned_display_name  }}</small>
		</div>
	</div>
</a>
</repeat>
</true>
<false>
<div class="ticket-item">
<h4 class="ticket-subject">{{ @no_issue_in_this_project }}</h4>
</div>
</false>
</check>
<h2>Archived tickets</h2>