<h1>{{ @SESSION.project.title }}</h1>
<check if="{{ count(@SESSION.project.issues)>0 }}">
<true>
<repeat group="{{ @SESSION.project.issues }}" value="{{ @issue }}">
<a href="/project/{{ @issue.project_id }}/issue/{{ @issue.issue_id }}">
	<div class="ticket-item {{ @PARAMS.issue_id == @issue.issue_id ? 'ticket-item-selected': '' }} pure-g">
		<div class="pure-u">
			<img class="ticket-avatar" alt="User&#x27;s avatar" height="64" width="64" src="/img/common/tilo-avatar.png">
		</div>
		
		<div class="pure-u-3-4">
			<h5 class="ticket-name">{{ @issue.display_name }}</h5>
			<h4 class="ticket-subject">{{ @issue.issue_title  }}</h4>
			<p class="ticket-desc">
				{{ truncate( @issue.issue_description )  }}
			</p>
		</div>
	</div>
</a>
</repeat>
</true>
<false>
<div class="ticket-item">
<h4 class="ticket-subject">{{ @no_issue_in_this_project }}</h4>
</div>
</false>
</check>