<a href="#" class="nav-menu-button">{{ @menu_button }}</a>
<nav class="nav-inner">
	
	<div class="pure-menu">
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="/logout">{{ @log_out_link }}</a></li>
<check if="@SESSION.project.id !='' ">
	<true><li><a href="/project/{{ @SESSION.project.id }}/new" class="primary-button pure-button">{{ @new_issue }}</a></li></true>
	</check>
			<li class="pure-menu-heading"><a href="/">{{ @your_projects }}</a></li>
			
		<repeat group="{{ @SESSION.user.projects }}" value="{{ @project }}">
			<li class="pure-menu-item {{ @project.id == @PARAMS.project_id ? 'pure-menu-selected':'' }}"><a href="/project/{{ @project.id }}" class="pure-menu-link">{{ @project.title  }} <span class="email-count">{{ @project.opened_issues_amount  }}</span></a></li>
		</repeat>

			<li class="pure-menu-heading">{{ @your_archived_projects }}</li>
		</ul>
	</div>
</nav>